<!-- index.nunjucks -->
{% extends "_shared/layout.njk" %}
{% block content %}

<div class="intro">
  {% include "partials/logo.njk" %}
  <p>A bare-minimum static site generator with some nice features like Babel transpiling and uglification, Image minifaction.</p>

  <a href="https://github.com/acaziasoftcom/acazia-html-template"><svg aria-hidden="true" class="icon-github"><use xlink:href="#github"></use></svg></a>
</div>

{% endblock %}
